/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 | | 25  26  27  28  29 │
  | --  --  32  33  34 | | 35  36  37  --  -- |
  ╰────────────────────╯ ╰────────────────────╯            
*/

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    timeout-ms = <30>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

/ {
  combos {
    compatible = "zmk,combos";

    // name                result               chord keys     layers
    COMBO(Z,               &kp Z,               1  2,          0 1 2)  // Z
    COMBO(Q,               &kp Q,               28 29,         0 1 2)  // Q
    COMBO(combo_UNDO,      &kp K_UNDO,          20 21,         0 1 2)  // undo
    COMBO(combo_REDO,      &kp K_REDO,          10 11,         0 1 2)  // redo
    COMBO(combo_CUT,       &kp K_CUT,           20 22,         0 1 2)  // cut
    COMBO(combo_COPY,      &kp K_COPY,          21 22,         0 1 2)  // copy
    COMBO(combo_PASTE,     &kp K_PASTE,         22 23,         0 1 2)  // paste
    COMBO(combo_PSTM,      &kp LS(K_PASTE),     21 23,         0 1 2)  // paste match
    COMBO(combo_SALL,      &kp LC(A),           20 23,         0 1 2)  // select all
    COMBO(combo_KILL,      &kp LA(F4),          20  4,         0 1 2)  // force quit
    COMBO(combo_SCRNSHT,   &kp LS(LG(S)),       0  29,         0 1 2)  // screenshot
    COMBO(combo_FIND,      &kp K_FIND,          21 24,         0 1 2)  // find
  };
};